{% extends "main/base.html" %}
{% block title %}View List{% endblock %}

{% block content %}
    <h1>{{ls.name}}</h1>
    <form action="#" method="post">
        {% csrf_token %}
        <ul>
            {% for item in ls.item_set.all %}
                {% if item.complete == True %}
                <!-- 加入<input type="checkbox", value="clicked", name="c{{item.id}}" checked> 在text前顯示checkbox checked為勾選-->
                    <li><input type="checkbox", value="clicked", name="c{{item.id}}" checked>{{item.text}}</li>
                {% else %}
                    <li><input type="checkbox", value="clicked", name="c{{item.id}}">{{item.text}}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <!-- setup the button and text area -->
        <button type="submit", name="save", value="save">save</button>
        <input type="text", name="new">
        <button type="submit", name="newItem", value="newItem">Add Item</button>
    </form>
{% endblock %}